# Run the most important ci checks locally.
[tasks.ci-fast]
dependencies = ["check-format", "clippy", "docs", "no-std", "audit", "test"]

# Run the full ci checks locally.
[tasks.ci]
dependencies = [
    "check-format",
    "clippy",
    "docs",
    "no-std",
    "audit",
    "coverage-tarpaulin",
    "report-public-api",
]

[tasks.clippy]
args = ["clippy", "--all-features"]

[tasks.docs]
args = ["doc", "--no-deps", "--all-features"]

# Build package in no_std environment.
[tasks.no-std]
command = "cargo"
args = ["build", "--target", "thumbv7m-none-eabi"]

# Run cargo public-api to report public changes.
[tasks.report-public-api]
script = { file = "ci/report_public_api.sh" }

[tasks.coverage-tarpaulin.linux]
command = "cargo"
args = [
    "tarpaulin",
    "--out",
    "Xml",
    "--all-features",
    "--ignore-tests",
    "--exclude-files",
    "src/lib.rs",
]

# Check package with all types.
[tasks.chkall]
command = "cargo"
args = ["check", "--all-features", "--tests"]

# Check package with 8bit types only.
[tasks.chk8]
env = { "RUSTFLAGS" = "--cfg=cnst8bitonly" }
run_task = "chkall"

# Check code coverage with 8bit types only.
[tasks.cov8]
env = { "RUSTFLAGS" = "--cfg=cnst8bitonly" }
run_task = "coverage-tarpaulin"

# Linter check with 8bit types only.
[tasks.clp8]
env = { "RUSTFLAGS" = "--cfg=cnst8bitonly" }
run_task = "clippy"

# Run all 8bit related unit tests.
[tasks.t8]
env = { "RUSTFLAGS" = "--cfg=cnst8bitonly" }
command = "cargo"
args = ["test", "--all-features", "--lib"]

# Run `u8` related unit tests only.
[tasks.tu8]
env = { "RUSTFLAGS" = "--cfg=cnst8bitonly" }
run_task = "tuint"

# Run all `uX` related unit tests.
[tasks.tuint]
command = "cargo"
args = ["test", "--all-features", "--lib", "tests_uint"]

# Run `i8` related unit tests only.
[tasks.ti8]
env = { "RUSTFLAGS" = "--cfg=cnst8bitonly" }
run_task = "tint"

# Run all `iX` related unit tests.
[tasks.tint]
command = "cargo"
args = ["test", "--all-features", "--lib", "tests_int"]

# Run all types shared implementation unit tests.
[tasks.tcom]
command = "cargo"
args = ["test", "--all-features", "--lib", "common"]

# Run `u8` related doc examples only.
[tasks.tdu8]
env = { "RUSTFDOCFLAGS" = "--cfg=cnst8bitonly" }
command = "cargo"
args = ["test", "--all-features", "--doc", "--", "u8"]

# Run all `uX` related doc examples.
[tasks.tduint]
command = "cargo"
args = [
    "test",
    "--all-features",
    "--doc",
    "--",
    "u8",
    "u16",
    "u32",
    "u64",
    "u128",
    "usize",
]

# Run `i8` related doc examples only.
[tasks.tdi8]
env = { "RUSTFDOCFLAGS" = "--cfg=cnst8bitonly" }
command = "cargo"
args = ["test", "--all-features", "--doc", "--", "i8"]

# Run all `iX` related doc examples.
[tasks.tdint]
command = "cargo"
args = [
    "test",
    "--all-features",
    "--doc",
    "--",
    "i8",
    "i16",
    "i32",
    "i64",
    "i128",
    "isize",
]

# Run all 8bit related doc examples only.
[tasks.td8]
run_task = { name = ["tdu8", "tdi8"] }
