# Run the ci checks locally with the exception of the tarpaulin run.
[tasks.ci-fast]
dependencies = ["check-format", "clippy", "docs", "no-std", "audit"]

# Run the full ci checks locally.
[tasks.ci]
dependencies = ["ci-fast", "coverage-tarpaulin"]

[tasks.clippy]
args = ["clippy", "--all-features"]

[tasks.docs]
args = ["doc", "--no-deps", "--all-features"]

[tasks.no-std]
command = "cargo"
args = ["build", "--target", "thumbv7m-none-eabi"]

[tasks.coverage-tarpaulin.linux]
command = "cargo"
args = [
    "tarpaulin",
    "--out",
    "Xml",
    "--all-features",
    "--ignore-tests",
    "--exclude-files",
    "src/lib.rs",
]

[tasks.report-public-api]
script = { file = "ci/report_public_api.sh" }

# Run all `uX` related tests.
[tasks.tuint]
command = "cargo"
args = ["test", "--all-features", "--lib", "tests_uint", "--", "--nocapture"]

# Run all `iX` related tests.
[tasks.tint]
command = "cargo"
args = ["test", "--all-features", "--lib", "tests_int", "--", "--nocapture"]

# Run all `common impl` tests.
[tasks.tcom]
command = "cargo"
args = ["test", "--all-features", "--lib", "common", "--", "--nocapture"]

# Run all `uX` related doc examples.
[tasks.tduint]
command = "cargo"
args = [
    "test",
    "--all-features",
    "--doc",
    "--",
    "u8",
    "u16",
    "u32",
    "u64",
    "u128",
    "usize",
]

# Run all `iX` related doc examples.
[tasks.tdint]
command = "cargo"
args = [
    "test",
    "--all-features",
    "--doc",
    "--",
    "i8",
    "i16",
    "i32",
    "i64",
    "i128",
    "isize",
]
