name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  # Same channel as Publish.
  RUST_CHANNEL: nightly-2022-11-21

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  linter:
    name: Linter
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - features: "--no-default-features"
          - features: "--features std"
          - features: "--features serde"
          - features: "--all-features"

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          components: clippy
          override: true

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: >
            ${{ matrix.features }}
            --workspace
            -- -D warnings

  docs:
    name: Documentation
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          components: rust-docs
          override: true

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all-features

  coverage:
    name: Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          override: true

      - name: Chechout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo tarpaulin
        uses: actions-rs/tarpaulin@v0.1

      - name: Upload coverage report
        uses: codecov/codecov-action@v3

  no_std:
    name: No std
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - features: "--no-default-features"
          - features: "--features serde"

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          target: thumbv7m-none-eabi
          override: true

      - name: Chechout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: >
            ${{ matrix.features }}
            --target thumbv7m-none-eabi

  public:
    name: Public changes
    runs-on: ubuntu-latest
    env:
      CARGO_PUBLIC_API_VERSION: 0.24.0
      NIGHTLY_COMPATIBLE: nightly-2022-08-15

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.NIGHTLY_COMPATIBLE }}
          profile: minimal
          override: true

      - name: Chechout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check cargo cache
        id: cargo-cache
        uses: Swatinem/rust-cache@v2
        with:
          env-vars: "NIGHTLY_COMPATIBLE CARGO_PUBLIC_API_VERSION"

      - name: Install cargo-public-api
        uses: actions-rs/cargo@v1
        if: steps.cargo-cache.outputs.cache-hit != true
        with:
          command: install
          args: >
            cargo-public-api
            --version=${{ env.CARGO_PUBLIC_API_VERSION }}

      - name: Run cargo-public-api
        run: sh ci/report_public_api.sh
