name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  format:
    name: Code format
    runs-on: ubuntu-latest

    steps:
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true
          toolchain: stable
          components: rustfmt

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  linter:
    name: Code linter
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: clippy
          override: true

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features -- -D warnings

  docs:
    name: Code documentation
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rust-docs

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all-features

  tests:
    name: Code tests
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - name: Chechout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          # tarpaulin is reporting uncovered
          # documentation code in src/lib.rs
          # for some reason.
          args: >
            --all-features
            --ignore-tests
            --exclude-files src/lib.rs
            --out Xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v3

  no_std:
    name: Support for no_std
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: thumbv7m-none-eabi

      - name: Chechout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target thumbv7m-none-eabi

  public:
    name: Report public api changes
    runs-on: ubuntu-latest
    env:
      CARGO_PUBLIC_API_VERSION: 0.12.3

    steps:
      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal

      - name: Chechout repository
        uses: actions/checkout@v2

      - name: Check cargo cache
        id: cargo-cache
        uses: Swatinem/rust-cache@v2
        with:
          env-vars: CARGO_PUBLIC_API_VERSION

      - name: Install cargo-public-api
        uses: actions-rs/cargo@v1
        if: steps.cargo-cache.outputs.cache-hit == false
        with:
          command: install
          args: >
            cargo-public-api
            --version=${{ env.CARGO_PUBLIC_API_VERSION }}

      - name: Run cargo-public-api
        run: sh ci/report_public_api.sh
