name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_CHANNEL: nightly-2022-07-01

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  linter:
    name: Linter
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          components: clippy
          override: true

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features -- -D warnings

  docs:
    name: Documentation
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          components: rust-docs
          override: true

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all-features

  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          override: true

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features

  coverage:
    name: Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          override: true

      - name: Chechout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          # tarpaulin is reporting uncovered
          # documentation code in src/lib.rs
          # for some reason.
          args: >
            --all-features
            --ignore-tests
            --exclude-files src/lib.rs
            --out Xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v3

  no_std:
    name: No std
    runs-on: ubuntu-latest

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          profile: minimal
          target: thumbv7m-none-eabi
          override: true

      - name: Chechout repository
        uses: actions/checkout@v2

      - name: Check build cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target thumbv7m-none-eabi
