name: Publish

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish crate
    runs-on: ubuntu-latest
    environment: publish

    steps:
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true
          toolchain: nightly

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run cargo-publish
        run: cargo publish --all-features
